.userFriends {
    width: 100%;
    height: fit-content;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    padding-bottom: 30px;
}

.userTimeline {
    width: 100%;
    height: fit-content;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}

.userTimelineData {
    width: 100%;
    height: fit-content;
    float: left;
    margin: 0px 0px 0px 0px;
    padding-bottom: 20px;
    position: sticky;
    top: 0px;
    left: 0px;
}

.userTimelineDataBlock {
    width: 100%;
    height: fit-content;
    background-color: var(--surface);
    box-shadow: 0 0 8px 0 rgba(63,66,87,.1);
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}

.userTimelineData hr {
    border-bottom: 0.5px solid var(--alt);
    width: calc(100% - 40px);
    margin: 0px 20px 10px 20px;
}

.userTimelineDataTitle {
    color: var(--primary);
    font-size: 15px;
    font-weight: 700;
    display: block;
    padding: 14px 20px;
    border-bottom: 2px solid var(--base);
    opacity: 0.7;
    margin-bottom: 10px;
}

.userTimelineDataIntro {
    display: block;
    width: 100%;
    height: fit-content;
    padding: 10px 20px 20px 20px;
    color: var(--primary);
}

.userTimelineDataSeeMore {
    color: var(--primary);
    font-size: 13px;
    font-weight: 200;
    margin: 5px 20px 10px 20px;
    font-style: italic;
    text-align: center;
    display: block;
    cursor: pointer;
}

.userTimelineDataSeeMore:hover { color: var(--accent); }

.userTimelineDataBox {
    width: 100%;
    height: fit-content;
    margin: 10px 0px 0px 0px;
    float: left;
    padding: 0px 20px;
}

.userTimelineDataBoxIcon {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    transform: translate(0px, -2px);
    opacity: 0.6;
}

.userTimelineDataBoxDataText {
    width: calc(100% - 33px);
    color: var(--primary);
    font-size: 15px;
    font-weight: 400;
    display: block;
    float: right;
    text-align: left;
    white-space: pre-wrap;
    padding-right: 15px;
}

.userTimelineFeed {
    width: 100%;
    height: fit-content;
    min-height: 300px;
    float: right;
    margin: 0px;
}

.userTimelineFeedHead {
    width: 100%;
    height: 50px;
    background-color: var(--surface);
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(63,66,87,.1);
    margin-bottom: 10px;
}

.userTimelineFeedHeadTitle {
    color: var(--primary);
    font-size: 15px;
    font-weight: 700;
    display: block;
    float: left;
    margin: 13px 20px;
    opacity: 0.7;
}

.userTimelineDataCommunity {
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    overflow: hidden;
    display: block;
}

.userTimelineDataCommunity div {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    float: left;
    background-color: var(--alt);
}

.userTimelineDataCommunity span {
    color: var(--primary);
    font-size: 15px;
    font-weight: 500;
    float: left;
    display: block;
    margin: 10px 15px;
    cursor: pointer;
}

.userTimelineDataCommunity span:hover { color: var(--accent); }

.userTimelineDataFriend {
    width: calc(20% - 20px);
    aspect-ratio: 1;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    float: left;
    margin: 0px 10px;
    background-color: var(--base);
    margin-top: 10px;
    cursor: pointer;
}

.userTimelineDataMedia {
    width: calc(100% - 50px);
    height: fit-content;
    margin: 30px 25px 10px 25px;
    overflow: hidden;
    border-radius: 5px;
}

.userTimelineDataMedia div {
    width: 50%;
    height: 80px;
    float: left;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.userAboutPersonal {
    width: 100%;
    height: fit-content;
    min-height: 300px;
    background-color: var(--surface);
    border-radius: 5px;
    float: left;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.userAboutPersonalData {
    width: 100%;
    height: fit-content;
    padding: 10px 20px;
    overflow: hidden;
}

.userAboutPersonalDataName {
    display: block;
    width: 35%;
    height: fit-content;
    color: var(--accent);
    font-size: 14px;
    float: left;
    font-weight: 500;
    opacity: 0.7;
}

.userAboutPersonalDataValue {
    display: block;
    width: 65%;
    height: fit-content;
    color: var(--primary);
    font-size: 14px;
    float: right;
    font-weight: 400;
}

.userAboutNodes {
    width: 100%;
    height: fit-content;
    background-color: var(--surface);
    border-radius: 5px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    float: right;
}

.userAboutNode {
    background-color: var(--primary);
    padding: 10px 40px 10px 10px;
    border-radius: 5px;
    color: var(--surface);
    display: inline-block;
    margin: 5px 5px 5px 5px;
    font-size: 13px;
}

.userAboutSocials {
    width: 100%;
    height: fit-content;
    background-color: var(--surface);
    border-radius: 5px;
    padding-bottom: 20px;
    float: right;
}

.userAboutSocial {
    width: calc(100% - 40px);
    height: 40px;
    border-radius: 5px;
    display: block;
    font-size: 15px;
    font-weight: 500;
    margin: 10px 20px;
    color: white;
    padding: 5px 25px;
    cursor: pointer;
}

.userAboutSocialIcon {
    display: inline-block;
    transform: translate(0px, 5px);
    margin-right: 15px;
}

.userAboutSocialLink {
    color: white;
    font-size: 13px;
    font-weight: 400;
    margin-left: 20px;
}

.userMediaImage {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.userMediaVideo {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

@media screen and (min-width: 1125px) {
    .userTimelineData {
        width: calc(25% - 15px);
        margin: 0px 15px 0px 0px;
    }
    .userTimelineFeed {
        width: calc(75% - 15px);
        margin: 0px 0px 0px 15px;
    }
    .userAboutPersonal {
        width: 400px;
    }
    .userAboutNodes {
        width: calc(100% - 420px);
    }
    .userAboutSocials {
        width: calc(100% - 420px);
    }
    .userTimelineDataFriend {
        width: calc(25% - 20px);
        margin: 0px 10px;
    }
}