.masonryContainer {
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

.uniMasonryColumn {
    width: 100%;
    height: fit-content;
}

.duoMasonryColumn {
    display: none;
    width: calc(50% - 20px);
    height: fit-content;
    margin: 0px 10px;
}

.triMasonryColumn {
    display: none;
    width: calc(33.33% - 20px);
    height: fit-content;
    float: left;
    margin: 0px 10px;
}

.quadMasonryColumn {
    display: none;
    width: calc(25% - 20px);
    height: fit-content;
    float: left;
    margin: 0px 10px;
}

@media screen and (min-width: 1125px) {
    .uniMasonryColumn { display: none; }
    .duoMasonryColumn { display: block; }
    .triMasonryColumn { display: block; }
    .quadMasonryColumn { display: block; }
}