.masonryContainer {
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

.duoMasonryColumn {
    width: 100%;
    height: fit-content;
}

.triMasonryColumn {
    width: 100%;
    height: fit-content;
    float: left;
}

.quadMasonryColumn {
    width: 100%;
    height: fit-content;
    float: left;
}

@media screen and (min-width: 1125px) {
    .duoMasonryColumn { width: calc(50% - 20px); margin: 0px 10px; }
    .triMasonryColumn { width: calc(33.33% - 20px); margin: 0px 10px; }
    .quadMasonryColumn { width: calc(25% - 20px); margin: 0px 10px; }
}