.masonryContainer {
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

.duoMasonryColumn {
    width: calc(50% - 15px);
    height: fit-content;
}

.triMasonryColumn {
    width: calc(33.33% - 20px);
    height: fit-content;
    float: left;
    margin: 0px 10px;
}

.quadMasonryColumn {
    width: calc(25% - 20px);
    height: fit-content;
    float: left;
    margin: 0px 10px;
}