.echo {
    width: 100%;
    height: fit-content;
    background-color: var(--surface);
    border-radius: 5px;
    margin: 3px 0px;
    box-shadow: 0 0 8px 0 rgba(63,66,87,.1);
    padding: 25px 15px 25px 15px;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

.echoHead {
    width: 100%;
    height: 50px;
}

.echoHeadProfile {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50px;
    display: block;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.echoHeadData {
    display: block;
    width: calc(100% - 80px);
    height: 100%;
    float: left;
    padding: 10px 12px;
    cursor: pointer;
}

.echoHeadDataUser {
    color: var(--primary);
    font-size: 15px;
    font-weight: 700;
    display: block;
    opacity: 0.9;
}

.echoHeadDataUser:hover { color: var(--accent); }

.echoHeadDataUser span {
    display: inline-block;
    text-transform: uppercase;
    background-color: var(--base);
    border-radius: 3px;
    font-weight: 500;
    font-size: 8px !important;
    padding: 3px 3px;
    margin-left: 10px;
    transform: translate(0px, -2px);
}

.echoHeadDataDateTime {
    color: var(--primary);
    opacity: 1;
    font-size: 13px;
    font-weight: 200;
    display: block;
}

.echoHeadDataDateTime span {
    font-weight: 500;
    color: var(--accent);
}

.echoHeadDataDateTime span span {
    width: 5px;
    height: 5px;
    background-color: var(--primary);
    border-radius: 10px;
    display: inline-block;
    margin: 0px 7px;
    transform: translate(0px, -2px);
}

.echoHeadOptionIcon {
    display: block;
    width: 30px;
    height: 100%;
    float: right;
    padding: 12.5px 2.5px;
    cursor: pointer;
    position: relative;
}

.echoHeadOptionIcon:hover .echoHeadOptionBox { display: block; }

.echoHeadOptionBox {
    display: none;
    position: absolute;
    width: 200px;
    height: fit-content;
    background-color: var(--base);
    border-radius: 5px;
    top: 22px;
    right: 0px;
    z-index: 2;
    box-shadow: 0 0 34px 0 rgba(63,66,87,.1);
    padding: 10px 0px;
}

.echoHeadOptionBox:hover { display: block; }

.echoHeadOption {
    color: var(--primary);
    font-size: 15px;
    font-weight: 500;
    display: block;
    padding: 7px 25px;
}

.echoHeadOption:hover { color: var(--accent); }

.echoText {
    color: var(--primary);
    font-size: 15px;
    opacity: 0.8;
    display: block;
    margin: 15px 0px 15px 0px;
    width: 100%;
    white-space: pre-wrap;
}

.echoText span {
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
}

.echoMedia {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
}

.echoMedia:hover .echoMediaControlLeft { display: block; }
.echoMedia:hover .echoMediaControlRight { display: block; }

.echoMediaImage {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: top;
}

.echoMediaVideo {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: top;
}

.echoMediaControlLeft {
    position: absolute;
    display: none;
    width: 35px;
    height: 35px;
    background-color: #FFFFFF60;
    top: 50%;
    left: 0px;
    transform: translate(0px, -50%) rotate(180deg);
    padding: 5px;
    cursor: pointer;
}

.echoMediaControlRight {
    position: absolute;
    display: none;
    width: 35px;
    height: 35px;
    background-color: #FFFFFF60;
    top: 50%;
    right: 0px;
    transform: translate(0px, -50%);
    padding: 5px;
    cursor: pointer;
}

.echoMediaCount {
    width: fit-content;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0px 15px;
    position: absolute;
    bottom: 10px;
    border-radius: 0px 5px 5px 0px;
}

.echoMediaCount span {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: var(--surface);
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.echoMediaVideoOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.echoMediaVideoOverlay span {
    width: 70px;
    height: 70px;
    background-color: var(--surface);
    padding: 10px;
    border-radius: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.echoFooter {
    width: 100%;
    height: 35px;
    /* border-top: 1px solid var(--alt); */
    margin-top: 20px;
}

.echoFooterData {
    overflow: hidden;
    margin: 0px 10px 0px 0px;
    background-color: var(--base);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.echoFooterIcon {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    padding: 2.5px;
}

.echoFooterNumber {
    display: block;
    float: left;
    font-size: 13px;
    color: var(--primary);
    opacity: 0.5;
    margin: 5px 5px;
}

@media screen and (min-width: 1125px) {
    .echo {
        margin: 10px 0px;
        padding: 25px 25px 25px 25px;
    }
    .echoHeadData {
        padding: 5px 12px;
    }
}