.loginPage {
    width: 100%;
    height: 100%;
    background-color: var(--base);
    position: absolute;
    /* background-image: url(/images/bckg1.jpg);
    background-size: cover; */
    overflow: hidden;
    overflow-y: auto;
}

.loginBanner {
    width: 100%;
    height: 90px;
    float: left;
    background-color: var(--base);
    position: relative;
}

.loginLogoBox {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    padding: 10px;
}

.loginLogo {
    width: 60px;
    height: 60px;
    margin: 5px 10px 5px 0px;
    float: left;
}

.loginTitle {
    color: var(--primary);
    font-family: Title;
    font-size: 40px;
    font-weight: 700;
    float: left;
    margin: 10px 0px 0px 0px;
}

.loginVector {
    display: none;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginFormBox {
    width: 100%;
    height: fit-content;
    min-height: calc(100% - 90px);
    overflow: hidden;
    overflow-y: auto;
    float: right;
    background-color: var(--surface);
    padding: 50px 50px;
    border-radius: 20px 20px 0px 0px;
}

.loginForm {
    width: 100%;
    height: fit-content;
    float: right;
    padding: 30px 0px 30px 0px;
}

.loginFormTitle {
    color: var(--primary);
    font-size: 30px;
    padding: 0px;
    margin: 0px 0px 30px 0px;
}

.loginFormTip {
    color: var(--primary);
    font-size: 15px;
    font-weight: 400;
    padding: 0px;
    margin: 0px 0px 50px 0px;
}

.loginFormField {
    width: 100%;
    height: 50px;
    background-color: var(--base);
    border-radius: 5px;
    padding-left: 50px;
    border: 0px;
    outline: 0px;
    color: var(--primary);
    margin-bottom: 20px;
    background-size: 25px 25px;
    background-position: 13px 13px;
    background-repeat: no-repeat;
}

.loginFormFYP {
    font-size: 13px;
    display: block;
    float: right;
    color: var(--primary);
    cursor: pointer;
}

.loginFormFYP:hover {
    color: var(--accent);
}

.loginFormSubmit {
    width: 100%;
    height: 50px;
    background-color: var(--primary);
    border-radius: 5px;
    color: var(--surface);
    margin-top: 20px;
    cursor: pointer;
}

.loginFormSubmit:hover {
    background-color: var(--accent);
}

.loginSignUp {
    display: block;
    text-align: center;
    font-size: 15px;
    color: var(--primary);
    margin-top: 25px;
}

.loginSignUp span {
    color: var(--accent);
    cursor: pointer;
    font-weight: 500;
}

@media screen and (min-width: 1125px) {
    .loginBanner { width: calc(100% - 450px); height: 100%; }
    .loginFormBox { width: 450px; height: 100%; border-radius: 0px; padding: 100px 30px; }
    .loginLogoBox { padding: 30px; }
    .loginVector { display: block; }
}