.userHead {
    width: 100%;
    height: 400px;
    border-radius: 5px;
    background-color: var(--alt);
    position: relative;
}

.userHeadCover {
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: center;
}

.userHeadNav {
    width: 100%;
    height: 30%;
    background-color: var(--surface);
    padding: 0px 80px;
}

.userHeadProfile {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 75px;
    left: 50%;
    background-color: var(--base);
    transform: translate(-50%, 0px);
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    border: 5px solid var(--surface);
}

.userHeadNavThird {
    width: 33.33%;
    height: 100%;
    float: left;
}

.userHeadNavLinkLeft {
    display: block;
    color: var(--primary);
    opacity: 0.8;
    float: left;
    font-size: 17px;
    font-weight: 600;
    margin: 50px 50px 0px 0px;
    cursor: pointer;
}

.userHeadNavLinkRight {
    display: block;
    color: var(--primary);
    opacity: 0.8;
    float: right;
    font-size: 17px;
    font-weight: 600;
    margin: 50px 50px 0px 0px;
    cursor: pointer;
}

.userHeadNavLinkLeft:hover {color: var(--accent);}
.userHeadNavLinkRight:hover {color: var(--accent);}

.userHeadOptions {
    position: relative;
    width: fit-content;
    height: 100%;
    float: right;
}

.userHeadOptions span:hover + .userHeadOptionBox { display: block; }

.userHeadOptionBox {
    display: none;
    width: 200px;
    height: fit-content;
    background-color: var(--surface);
    border-radius: 5px;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 2;
    border: 1px solid var(--secondary);
    z-index: 2;
    box-shadow: 0 0 34px 0 rgba(63,66,87,.1);
    padding: 10px 0px;
}

.userHeadOptionBox:hover { display: block; }

.userHeadOption {
    color: var(--primary);
    font-size: 15px;
    font-weight: 500;
    display: block;
    padding: 7px 25px;
    cursor: pointer;
}

.userHeadOption:hover { color: var(--accent); }

.userHeadNavName {
    display: block;
    color: var(--primary);
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
}

.userHeadNavNickName {
    display: block;
    color: var(--primary);
    opacity: 0.7;
    font-size: 15px;
    font-weight: 200;
    text-align: center;
}

.userHeadButtons {
    width: fit-content;
    height: 50px;
    position: absolute;
    bottom: 100px;
    right: 50px;
}

.userHeadButton {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--primary);
    float: right;
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
}