.userHead {
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    background-color: var(--alt);
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

.userHeadCover {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.userHeadCoverButton {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
}

.userHeadNav {
    width: 100%;
    height: fit-content;
    background-color: var(--surface);
    padding: 110px 80px 0px 80px;
    position: relative;
}

.userHeadButtons {
    width: 100px;
    height: fit-content;
    position: absolute;
    bottom: 100px;
    right: 10px;
}

.userHeadButton {
    display: block;
    width: fit-content;
    height: 34px;
    min-width: 100px;
    border-radius: 50px;
    float: right;
    margin-right: 0px;
    margin-bottom: 15px;
    padding: 7px 15px;
    cursor: pointer;
    background-color: var(--surface);
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.8;
}

.userHeadButton:hover { border: 2px solid var(--accent); }

.userHeadButton * { float: right; }

.userHeadButton span {
    display: block;
    font-size: 10px;
    font-weight: 400;
    color: var(--primary);
    margin-right: 10px;
    transform: translate(0px, 5px);
}

.userHeadBar {
    width: 100%;
    height: 100px;
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,0), var(--surface)); */
    background-color: var(--surface);
    position: absolute;
    bottom: 0px;
    opacity: 0.9;
}

.userHeadData {
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 0px;
    left: 10px;
    overflow: hidden;
    transform: translate(0px, -5px);
}

.userHeadProfile {
    width: 150px;
    height: 150px;
    background-color: var(--base);
    margin: 10px 100% 10px 10px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    border: 5px solid var(--surface);
    float: left;
}

.userHeadProfileButton {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: var(--base);
    outline: 3px solid var(--surface);
    margin: 120px 55px 0px 55px;
    padding: 5px;
    cursor: pointer;
}

.userHeadNames {
    width: fit-content;
    height: fit-content;
    float: left;
    padding: 0px 0px 0px 20px;
}

.userHeadName {
    display: block;
    color: var(--primary);
    font-size: 22px;
    font-weight: 700;
}

.userHeadNickName {
    display: block;
    color: var(--primary);
    opacity: 0.7;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}

.userHeadNavLinks {
    width: 100%;
    height: 60px;
    background-color: var(--surface);
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(63,66,87,.1);
    margin-top: 5px;
    padding: 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
}

.userHeadNavLink {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: var(--primary);
    padding: 15px 20px;
    cursor: pointer;
}

.userHeadNavLink:hover { color: var(--accent); }

.userHeadOptions {
    position: relative;
    width: fit-content;
    height: 100%;
    float: right;
}

.userHeadOptions span:hover + .userHeadOptionBox { display: block; }

.userHeadOptionBox {
    display: none;
    width: 200px;
    height: fit-content;
    background-color: var(--primary);
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    box-shadow: 0 0 34px 0 rgba(63,66,87,.1);
    padding: 10px 0px;
}

.userHeadOptionBox:hover { display: block; }

.userHeadOption {
    color: var(--base);
    font-size: 15px;
    font-weight: 500;
    display: block;
    padding: 7px 25px;
    cursor: pointer;
}

.userHeadOption:hover { color: var(--accent); }

@media screen and (min-width: 1125px) {
    .userHeadData {
        height: 170px;
        left: 80px;
    }
    .userHeadProfile {
        margin: 10px;
    }
    .userHeadNames {
        height: 150px;
        padding: 85px 0px 0px 10px;
    }
    .userHeadName {
        font-size: 25px;
        font-weight: 700;
        margin-top: 10px;
    }
    .userHeadNickName {
        font-size: 15px;
        font-weight: 400;
    }
    .userHeadNavLinks {
        height: 50px;
        padding: 0px 80px;
    }
    .userHeadButtons {
        bottom: 15px;
        right: 80px;
        width: fit-content;
        height: fit-content;
    }
    .userHeadButton {
        border-radius: 50px;
        margin-right: 10px;
    }
    .userHeadButton span {
        font-size: 15px;
        font-weight: 400;
        color: var(--primary);
        margin-left: 10px;
        transform: translate(0px, -2px);
    }
}