.leftnavContainer {
    display: none;
    width: 70px;
    height: 100%;
    background-color: var(--surface);
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0 0 34px 0 rgba(63,66,87,.1);
    z-index: 110;
}

.leftnavContainerHead {
    width: 100%;
    height: 70px;
    background-color: var(--surface);
    position: relative;
    margin-bottom: 30px;
}

.leftnavContainerHead img {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.leftnavMenuButton {
    width: 100%;
    height: 70px;
    padding: 15px;
    color: var(--primary);
    cursor: pointer;
    position: relative;
}

.leftnavMenuButton:hover { color: var(--accent) }
.leftnavMenuButton:hover .leftnavMenuButtonLabel { width: 200px; }

.leftnavMenuButtonLabel {
    position: absolute;
    left: 100%;
    top: 10px;
    height: 50px;
    width: 10px;
    background-color: var(--primary);
    border-radius: 0px 5px 5px 0px;
    overflow: hidden;
    opacity: 1 !important;
}

.leftnavMenuButtonLabel span {
    display: block;
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin: 15px 20px;
    white-space: nowrap;
    padding-right: 30px;
}

.leftnavCommunityButton {
    width: 100%;
    height: fit-content;
    position: relative;
}

.leftnavCommunityButtonProfile {
    width: calc(100% - 30px);
    aspect-ratio: 1;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    margin: 0px 15px 30px 15px;
    cursor: pointer;
}

.leftnavCommunityButtonProfile:hover .leftnavMenuButtonLabel {
    width: 200px;
}

.leftnavCommunityButtonProfile .leftnavMenuButtonLabel {
    top: -5px;
}

@media screen and (min-width: 1125px) {
    .leftnavContainer {
        display: block;
    }
}