.communitiesHead {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 20px;
}

.communitiesHeadBanner {
    width: 100%;
    height: 250px;
    background-color: rgb(228, 236, 239);
    background-image: url(/images/bckg1.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
}

.communitiesHeadBannerTitle {
    color: white;
    font-size: 30px;
    font-weight: 700;
    display: block;
    margin: 35px 0px 0px 20px;
}

.communitiesHeadBannerSubTitle {
    color: white;
    font-size: 12px;
    font-weight: 300;
    display: block;
    width: 100%;
    padding: 10px 20px 20px 20px;
    white-space: pre-wrap;
}

.communitiesHeadBannerSearch {
    width: calc(100% - 40px);
    height: 50px;
    background-color: white;
    border-radius: 5px;
    color: black;
    padding-left: 50px;
    padding-right: 15px;
    margin: 20px 0px 0px 20px;
    background-image: url(/images/icons/search.png);
    background-size: 25px 25px;
    background-position: 13px 13px;
    background-repeat: no-repeat;
}

.communitiesHeadNav {
    width: 100%;
    height: 60px;
    background-color: var(--surface);
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(63,66,87,.1);
    margin-top: 5px;
    padding: 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
}

.communitiesHeadNavButton {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: var(--primary);
    padding: 15px 20px;
    cursor: pointer;
}

.communitiesHeadNavButton:hover { color: var(--accent); }

.communitiesBody {
    width: 100%;
    height: fit-content;
    margin-top: 30px;
    overflow: hidden;
}

.communitiesBodyNav {
    width: 300px;
    height: fit-content;
    min-height: 500px;
    background-color: var(--surface);
    border-radius: 5px;
    float: left;
    padding-bottom: 50px;
}

.communitiesBodyRecs {
    width: calc(100% - 320px);
    height: fit-content;
    min-height: 500px;
    background-color: transparent;
    border-radius: 5px;
    float: right;
}

.communitiesBodyRecsTitle {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: var(--primary);
    padding: 20px 25px;
    background-color: var(--surface);
    border-radius: 5px;
}

.communitiesBodyRecBox {
    width: 100%;
    height: fit-content;
    padding: 0px 0px;
    overflow: hidden;
}

@media screen and (min-width: 1125px) {
    .communitiesHeadBanner {
        background-size: cover;
        background-position: center;
    }
    .communitiesHeadBannerTitle {
        margin: 50px 0px 0px 50px;
    }
    .communitiesHeadBannerSubTitle {
        padding: 10px 0px 20px 50px;
    }
    .communitiesHeadBannerSearch {
        width: 400px;
        margin: 20px 0px 0px 50px;
    }
    .communitiesHeadNav {
        height: 50px;
        padding: 0px 30px;
    }
}