.nodePage {
    width: 100%;
    height: 100%;
    background-color: var(--base);
    position: absolute;
    /* background-image: url(/images/bckg1.jpg);
    background-size: cover; */
    overflow: hidden;
    overflow-y: auto;
}

.nodeBanner {
    width: 100%;
    height: 90px;
    float: left;
    background-color: var(--base);
    position: relative;
}

.nodeLogoBox {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    padding: 10px;
}

.nodeLogo {
    width: 60px;
    height: 60px;
    margin: 5px 10px 5px 0px;
    float: left;
}

.nodeTitle {
    color: var(--primary);
    font-family: Title;
    font-size: 40px;
    font-weight: 700;
    float: left;
    margin: 10px 0px 0px 0px;
}

.nodeVector {
    display: none;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nodeFormBox {
    width: 100%;
    height: fit-content;
    min-height: calc(100% - 90px);
    overflow: hidden;
    overflow-y: auto;
    float: right;
    background-color: var(--surface);
    padding: 50px 50px;
    border-radius: 20px 20px 0px 0px;
}

.nodeForm {
    width: 100%;
    height: fit-content;
    float: right;
    padding: 30px 0px 30px 0px;
}

.nodeFormTitle {
    color: var(--primary);
    font-size: 30px;
    padding: 0px;
    margin: 0px 0px 30px 0px;
}

.nodeFormTip {
    color: var(--primary);
    font-size: 15px;
    font-weight: 400;
    padding: 0px;
    margin: 0px 0px 50px 0px;
}

.node {
    background-color: var(--surface);
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--surface);
    display: block;
    float: left;
    margin: 5px;
    font-size: 15px;
    cursor: pointer;
}

.node:hover { background-color: var(--primary); }

.nodeSubmitButton {
    width: 100%;
    height: 50px;
    background-color: var(--accent);
    border-radius: 5px;
    color: var(--surface);
    margin-top: 40px;
    cursor: pointer;
    font-weight: 500;
}

.nodeSubmitButton:hover { background-color: var(--accent); color: var(--base); }


@media screen and (min-width: 1125px) {
    .nodeBanner { width: calc(100% - 450px); height: 100%; }
    .nodeFormBox { width: 450px; height: 100%; border-radius: 0px; padding: 30px 30px; }
    .nodeLogoBox { padding: 30px; }
    .nodeVector { display: block; }
}