.echoViewerEchoContainer {
    width: 100%;
    height: calc(100% - 70px);
    background-color: var(--base);
    position: fixed;
    top: 0px;
    right: 0px;
    border-right: 2px solid var(--surface);
    overflow: hidden;
    overflow-y: auto;
    z-index: 30;
    padding-bottom: 30px;
}

.echoViewerEcho {
    padding: 0px 20px;
}

.echoViewerContainerHead {
    width: 100%;
    height: fit-content;
    min-height: 50px;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 20px 25px 0px 25px;
}

.echoViewerContainerHeadTitle {
    color: var(--primary);
    font-size: 25px;
    font-weight: 700;
    overflow: hidden;
    display: block;
    float: left;
}

.echoViewerContainerClose {
    display: none;
    width: fit-content;
    height: fit-content;
    float: right;
    display: block;
    margin: 8px 0px 0px 10px;
    cursor: pointer;
}

.echoViewerContainerClose:hover { transform: rotate(90deg); }

@media screen and (min-width: 1125px) {
    .echoViewer {
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
    }
    .echoViewerEchoContainer { display: block; width: 500px; top: 70px; right: 70px; position: fixed; }
}