.topnavContainer {
    width: 100%;
    height: 70px;
    background-color: var(--primary);
    padding: 0px 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.topnavLogo {
    height: 60px;
    float: left;
    margin: 5px 0px 0px 0px;
}

.topnavTitle {
    display: none;
    color: var(--surface);
    font-size: 15px;
    font-weight: 500;
    float: left;
    margin: 25px 50px 0px 0px;
}

.topnavSearchBar {
    display: none;
    width: 400px;
    height: 100%;
    float: left;
    background-color: #ffffff10;
    position: relative;
}

.topnavSearchBar input {
    width: 100%;
    height: 70px;
    padding-left: 25px;
    padding-right: 90px;
    color: var(--surface);
    background-color: transparent;
    background-image: url(/images/icons/search.png);
    background-size: 25px 25px;
    background-position-x: right;
    background-position: 90% 23px;
    background-repeat: no-repeat;
    pointer-events: none;
}

.topnavSearchBar input::placeholder {
    color: var(--surface);
    opacity: 0.5;
}

.topnavButton {
    height: 100%;
    width: 50px;
    float: right;
    padding: 15px 5px;
    position: relative;
    cursor: pointer;
    color: var(--surface);
    overflow: visible;
}

.topnavButton:hover { transform: scale(1.1, 1.1) };

.topnavSearchButton { display: inline-block; }
.topnavChatButton { display: none; }

.topnavNotificationDot {
    width: 11px;
    height: 11px;
    border-radius: 10px;
    position: absolute;
    top: 21px;
    right: 11px;
}

.topnavAccount {
    width: fit-content;
    height: 100%;
    float: right;
    /* box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2); */
    border-radius: 5px;
    padding: 5px 0px;
    cursor: pointer;
}

.topnavProfileImage {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 5px 10px;
    float: right;
    position: relative;
    background-size: cover;
    background-position: center;
    border: 3px solid var(--surface);
}

.topnavProfileImageActive {
    background-color: lime;
    width: 13px;
    height: 13px;
    border-radius: 10px;
    position: absolute;
    top: 30px;
    left: 35px;
    border: 3px solid var(--surface);
}

.topnavAccountData {
    display: none;
    width: fit-content;
    height: 60px;
    float: right;
    padding: 13px 8px 0px 25px;
}

.topnavAccountName {
    display: block;
    font-size: 15px;
    color: var(--surface);
    margin: 0px;
    text-align: right;
    font-weight: 500;
}

.topnavAccountNickName {
    display: block;
    font-size: 10px;
    color: var(--surface);
    opacity: 0.7;
    margin: 0px;
    text-transform: uppercase;
    text-align: right;
}

@media screen and (min-width: 1125px) {
    .topnavContainer { padding: 0px 100px; }
    .topnavSearchBar {display: block;}
    .topnavAccountData {display: block;}
    .topnavLogo { display: none; }
    .topnavTitle { display: block; }
    .topnavSearchButton { display: none; }
    .topnavChatButton { display: inline-block; }
}