.bottomnavContainer {
    width: 100%;
    height: 70px;
    background-color: var(--surface);
    padding: 0px 20px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    box-shadow: 0 0 34px 0 rgba(63,66,87,.1);
    padding: 0px 10px;
    z-index: 110;
}

.bottomNavButton {
    width: calc(20% - 20px);
    height: 100%;
    float: left;
    display: block;
    overflow: hidden;
    margin: 0px 10px;
    cursor: pointer;
}

.bottomNavButtonIcon {
    height: 24px;
    aspect-ratio: 1;
    margin: 15px calc(50% - 12px) 0px calc(50% - 12px);
    display: block;
}

.bottomNavButtonName {
    width: 100%;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    display: block;
    margin-top: 7px;
    color: var(--primary);
}

@media screen and (min-width: 1125px) {
    .bottomnavContainer { display: none; }
}