.searchContainer {
    width: 100%;
    height: calc(100% - 70px);
    background-color: var(--base);
    position: fixed;
    top: 0px;
    right: 0px;
    box-shadow: 0 0 34px 0 rgba(63,66,87,.1);
    overflow: hidden;
    overflow-y: auto;
    padding: 20px;
    z-index: 30;
}

.searchContainerHead {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 0px 5px 0px 5px;
}

.searchContainerTitle {
    color: var(--primary);
    font-size: 25px;
    font-weight: 700;
    overflow: hidden;
    display: block;
    float: left;
}

.searchContainerClose {
    width: fit-content;
    height: fit-content;
    float: right;
    display: block;
    margin: 8px 0px 0px 10px;
    cursor: pointer;
}

.searchContainerClose:hover { transform: rotate(90deg); }

.searchClassBox {
    width: 100%;
    height: fit-content;
    padding: 0px 0px 20px 0px;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
}

.searchClass {
    display: block;
    background-color: var(--surface);
    color: var(--secondary);
    font-size: 15px;
    font-weight: 500;
    padding: 10px 20px;
    float: left;
    margin-right: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.searchInput {
    width: 100%;
    height: 50px;
    background-color: var(--surface);
    border-radius: 5px;
    color: var(--primary);
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px 0px 10px 0px;
}

.searchResultTitle {
    font-size: 15px;
    font-weight: 500;
    display: block;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 20px;
    opacity: 0.7;
}

.searchResultPerson {
    width: 100%;
    height: 60px;
    background-color: var(--surface);
    border-radius: 5px;
    padding: 10px 20px;
    overflow: hidden;
    margin-bottom: 10px;
}

.searchResultPersonProfile {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 60px;
    float: left;
    background-size: cover;
    background-position: center;
}

.searchResultPersonName {
    display: block;
    float: left;
    font-size: 15px;
    font-weight: 500;
    color: var(--primary);
    margin: 1px 20px;
}

.searchResultPersonName span {
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    transform: translate(0px, -3px);
}

.searchResultPersonHeart {
    width: 40px;
    aspect-ratio: 1;
    float: right;
    padding: 5px 0px;
}

.searchResultCommunity {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    background-color: var(--surface);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.searchResultCommunityProfile {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    float: left;
}

.searchResultCommunityData {
    width: calc(100% - 100px);
    height: fit-content;
    overflow: hidden;
    float: right;
    padding-right: 10px;
}

.searchResultCommunityName {
    font-size: 15px;
    font-weight: 700;
    color: var(--primary);
    display: block;
}

.searchResultCommunityDataStats {
    font-size: 13px;
    font-weight: 400;
    color: var(--primary);
    display: block;
    text-transform: capitalize;
}

.searchResultCommunityDataStats span {
    display: inline-block; 
    width: 3px;  
    height: 3px; 
    background-color: var(--primary); 
    border-radius: 10px; 
    margin: 0px 10px; 
    transform: translate(0px, -2px);
}

.searchResultCommunityDescription {
    font-size: 14px;
    font-weight: 200;
    color: var(--primary);
    display: block;
    margin-top: 5px;
}

.searchResultCommunityButton {
    display: block;
    width: 100%;
    padding: 8px 20px;
    background-color: var(--secondary);
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    margin-top: 10px;
    border-radius: 5px;
    color: var(--surface);
    cursor: pointer;
}

.searchNullResults {
    color: var(--primary);
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    display: block;
    margin-top: 50px;
}

@media screen and (min-width: 1125px) {
    .searchContainer { width: 500px; top: 70px; right: 70px; }
}