.echoCreatorContainer {
    width: 100%;
    height: calc(100% - 70px);
    background-color: var(--base);
    position: fixed;
    top: 0px;
    right: 0px;
    box-shadow: 0 0 34px 0 rgba(63,66,87,.1);
    padding: 20px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 30;
}

.echoCreatorContainerHead {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 0px 5px 0px 5px;
}

.echoCreatorContainerTitle {
    color: var(--primary);
    font-size: 25px;
    font-weight: 700;
    overflow: hidden;
    display: block;
    float: left;
}

.echoCreatorContainerClose {
    width: fit-content;
    height: fit-content;
    float: right;
    display: block;
    margin: 8px 0px 0px 10px;
    cursor: pointer;
}

.echoCreatorContainerClose:hover { transform: rotate(90deg); }

.echoCreatorDropdown {
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
    cursor: pointer;
}

.echoCreatorDropdownSelectBarSingle {
    width: 100%;
    height: 50px;
    color: var(--primary);
    background-color: var(--surface);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
}

.echoCreatorDropdownSelectBarMultiple {
    width: 100%;
    height: fit-content;
    min-height: 50px;
    color: var(--primary);
    background-color: var(--surface);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 6px;
    overflow: hidden;
}

.echoCreatorDropdownSelectSingle {
    display: block;
    color: var(--primary);
    font-size: 15px;
    margin-top: 15px;
}

.echoCreatorDropdownSelectMultiple {
    display: block;
    color: var(--primary);
    font-size: 13px;
    margin: 6px 10px 0px 0px;
    background-color: var(--base);
    padding: 10px;
    border-radius: 5px;
    float: left;
}

.echoCreatorDropdownSelectMultiple span {
    float: right;
    margin-left: 20px;
}

.echoCreatorDropdownOptions {
    display: none;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    max-height: 500px;
    overflow-y: auto;
    /* background-color: var(--alt); */
    padding: 10px 10px 0px 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.echoCreatorDropdownOption {
    width: 100%;
    height: fit-content;
    background-color: var(--surface);
    display: block;
    font-size: 13px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
}

.echoCreatorContainerScope {
    width: 100%;
    height: 50px;
    color: var(--primary);
    background-color: var(--base);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.echoCreatorText {
    width: 100%;
    height: 300;
    min-height: 200px;
    color: var(--primary);
    background-color: var(--surface);
    border-radius: 5px;
    margin: 0px 0px 20px 0px;
    padding: 20px;
    resize: none;
}

.echoCreatorFileDisplay {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    margin-bottom: 20px;
}

.echoCreatorFileThumb {
    width: calc(25% - 10px);
    height: fit-content;
    float: left;
    margin: 0px 5px;
    border-radius: 5px;
    border: 1px solid var(--alt);
    position: relative;
    overflow: hidden;
}

.echoCreatorFileThumb img {
    width: 100%;
    border-radius: 5px;
    vertical-align: top;
}

.echoCreatorFileThumb video {
    width: 100%;
    border-radius: 5px;
    vertical-align: top;
}

.echoCreatorFileThumbClose {
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background-color: var(--surface);
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    cursor: pointer;
}

.echoCreatorFile[type="file"] {
    display: none;
}

.echoCreatorFileSelector {
    width: 100%;
    height: 80px;
    display: block;
    background-color: var(--base);
    margin-bottom: 20px;
    border: 3px dashed var(--primary);
    border-radius: 5px;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
}

.echoCreatorLinkSelector {
    width: 100%;
    height: 50px;
    color: var(--primary);
    background-color: var(--base);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.echoCreatorMediaGallery span {
    width: 60px;
    height: 50px;
    display: block;
    float: left;
    background-color: var(--surface);
    border-radius: 5px;
    margin: 0px 10px 0px 0px;
    padding: 10px 15px;
    cursor: pointer;
}

.echoCreatorMediaGallery label {
    width: 60px;
    height: 50px;
    display: block;
    float: left;
    background-color: var(--surface);
    border-radius: 5px;
    margin: 0px 10px 0px 0px;
    padding: 10px 15px;
    cursor: pointer;
}

.echoCreatorContainerPost {
    width: 100%;
    height: 50px;
    background-color: var(--primary);
    color: var(--surface);
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}

@media screen and (min-width: 1125px) {
    .echoCreatorContainer { width: 500px; top: 70px; right: 70px; }
}