.fypPage {
    width: 100%;
    height: 100%;
    background-color: var(--base);
    position: absolute;
    /* background-image: url(/images/bckg1.jpg);
    background-size: cover; */
    overflow: hidden;
    overflow-y: auto;
}

.fypBanner {
    width: 100%;
    height: 70px;
    float: left;
    background-color: var(--base);
    position: relative;
}

.fypLogoBox {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    padding: 0px;
}

.fypLogo {
    width: 70px;
    height: 70px;
    margin: 0px 5px 0px 15px;
    float: left;
}

.fypTitle {
    display: none;
    color: var(--surface);
    font-family: Title;
    font-size: 35px;
    font-weight: 700;
    float: left;
    margin: 10px 0px 0px 0px;
}

.fypVector {
    display: none;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fypFormBox {
    width: 100%;
    height: fit-content;
    min-height: calc(100% - 70px);
    overflow: hidden;
    overflow-y: auto;
    float: right;
    background-color: var(--surface);
    padding: 30px 30px;
    border-radius: 20px 20px 0px 0px;
}

.fypForm {
    width: 100%;
    height: fit-content;
    float: right;
    padding: 30px 0px 30px 0px;
}

.fypFormTitle {
    color: var(--primary);
    font-size: 30px;
    padding: 0px;
    margin: 0px 0px 30px 0px;
}

.fypFormTip {
    color: var(--primary);
    font-size: 15px;
    font-weight: 400;
    padding: 0px;
    margin: 0px 0px 50px 0px;
}

.fypFormField {
    width: 100%;
    height: 50px;
    background-color: var(--base);
    border-radius: 5px;
    padding-left: 50px;
    border: 0px;
    outline: 0px;
    color: var(--primary);
    margin-bottom: 20px;
    background-size: 25px 25px;
    background-position: 13px 13px;
    background-repeat: no-repeat;
}

.fypFormFYP {
    font-size: 13px;
    display: block;
    float: right;
    color: var(--primary);
    cursor: pointer;
}

.fypFormFYP:hover {
    color: var(--accent);
}

.fypFormSubmit {
    width: 100%;
    height: 50px;
    background-color: var(--primary);
    border-radius: 5px;
    color: var(--surface);
    margin-top: 20px;
    cursor: pointer;
}

.fypFormSubmit:hover {
    background-color: var(--accent);
}

.fypSignUp {
    display: block;
    text-align: center;
    font-size: 15px;
    color: var(--primary);
    margin-top: 25px;
}

.fypSignUp span {
    color: var(--accent);
    cursor: pointer;
    font-weight: 500;
}

@media screen and (min-width: 1125px) {
    .fypBanner { width: calc(100% - 450px); height: 100%; }
    .fypLogo {
        width: 90px;
        height: 90px;
        margin: 5px 0px 5px 0px;
        float: left;
        pointer-events: none;
    }
    .fypTitle {
        display: block;
        font-family: Title;
        font-size: 40px;
        font-weight: 700;
        float: left;
        margin: 20px 0px 0px 0px;
        background-image: linear-gradient(to bottom right, blueviolet, #F58A2Aff);
        -webkit-background-clip: text; /* WebKit/Blink browsers */
        background-clip: text; /* Standard syntax */
        color: transparent;
    }
    .fypFormBox { width: 450px; height: 100%; border-radius: 0px; padding: 100px 30px; }
    .fypLogoBox { padding: 30px; }
    .fypVector {
        display: block;
    }
}