.communityFriends {
    width: 100%;
    height: fit-content;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;
}

.communityNull {
    width: 100%;
    display: block;
    background-color: var(--surface);
    color: var(--primary);
    border-radius: 5px;
    padding: 13px 20px;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.7;
    font-style: italic;
    margin-top: 20px;
}

.communityTimeline {
    width: 100%;
    height: fit-content;
    margin-top: 30px;
    position: relative;
    padding-bottom: 100px;
}

.communityTimelineData {
    width: 100%;
    height: fit-content;
    float: left;
    margin: 0px 0px 20px 0px;
    padding-bottom: 30px;
    position: sticky;
    top: 0px;
    left: 0px;
}

.communityTimelineDataBlock {
    width: 100%;
    height: fit-content;
    background-color: var(--surface);
    box-shadow: 0 0 8px 0 rgba(63,66,87,.1);
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}

.communityTimelineData hr {
    border-bottom: 0.5px solid var(--alt);
    width: calc(100% - 40px);
    margin: 0px 20px 10px 20px;
}

.communityTimelineDataTitle {
    color: var(--primary);
    font-size: 15px;
    font-weight: 700;
    display: block;
    padding: 14px 20px;
    border-bottom: 2px solid var(--base);
    opacity: 0.7;
    margin-bottom: 10px;
}

.communityTimelineDataIntro {
    display: block;
    width: 100%;
    height: fit-content;
    padding: 10px 20px 20px 20px;
    color: var(--primary);
}

.communityTimelineDataSeeMore {
    color: var(--primary);
    font-size: 13px;
    font-weight: 200;
    margin: 5px 20px 10px 20px;
    font-style: italic;
    text-align: center;
    display: block;
    cursor: pointer;
}

.communityTimelineDataSeeMore:hover { color: var(--accent); }

.communityTimelineDataBox {
    width: 100%;
    height: fit-content;
    margin: 10px 0px 0px 0px;
    float: left;
    padding: 0px 20px;
}

.communityTimelineDataBoxIcon {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    transform: translate(0px, -2px);
    opacity: 0.6;
}

.communityTimelineDataBoxDataText {
    width: calc(100% - 33px);
    color: var(--primary);
    font-size: 15px;
    font-weight: 400;
    display: block;
    float: right;
    text-align: left;
    white-space: pre-wrap;
    padding-right: 15px;
}

.communityTimelineFeed {
    width: 100%;
    height: fit-content;
    min-height: 300px;
    float: right;
    padding-bottom: 100px;
    margin: 0px 0px 20px 0px;
}

.communityTimelineFeedHead {
    width: 100%;
    height: 50px;
    background-color: var(--surface);
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(63,66,87,.1);
    margin-bottom: 10px;
}

.communityTimelineFeedHeadTitle {
    color: var(--primary);
    font-size: 15px;
    font-weight: 700;
    display: block;
    float: left;
    margin: 13px 20px;
    opacity: 0.7;
}

.communityTimelineDataCommunity {
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    overflow: hidden;
    display: block;
}

.communityTimelineDataCommunity div {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    float: left;
    background-color: var(--alt);
}

.communityTimelineDataCommunity span {
    color: var(--primary);
    font-size: 15px;
    font-weight: 500;
    float: left;
    display: block;
    margin: 10px 15px;
    cursor: pointer;
}

.communityTimelineDataCommunity span:hover { color: var(--accent); }

.communityTimelineDataFriend {
    width: calc(25% - 20px);
    aspect-ratio: 1;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    float: left;
    margin: 0px 10px;
    background-color: var(--base);
    margin-top: 10px;
    cursor: pointer;
}

.communityTimelineDataMedia {
    width: calc(100% - 50px);
    height: fit-content;
    margin: 30px 25px 10px 25px;
    overflow: hidden;
    border-radius: 5px;
}

.communityTimelineDataMedia div {
    width: 50%;
    height: 80px;
    float: left;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.communityAboutPersonal {
    width: 100%;
    height: fit-content;
    min-height: 300px;
    background-color: var(--surface);
    border-radius: 5px;
    float: left;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.communityAboutPersonalData {
    width: 100%;
    height: fit-content;
    padding: 10px 20px;
    overflow: hidden;
}

.communityAboutPersonalDataName {
    display: block;
    width: 35%;
    height: fit-content;
    color: var(--accent);
    font-size: 14px;
    float: left;
    font-weight: 500;
    opacity: 0.7;
}

.communityAboutPersonalDataValue {
    display: block;
    width: 65%;
    height: fit-content;
    color: var(--primary);
    font-size: 14px;
    float: right;
    font-weight: 400;
}

.communityAboutNodes {
    width: 100%;
    height: fit-content;
    background-color: var(--surface);
    border-radius: 5px;
    padding-bottom: 20px;
    float: right;
    margin-bottom: 20px;
}

.communityAboutNode {
    background-color: var(--primary);
    padding: 10px 40px 10px 10px;
    border-radius: 5px;
    color: var(--surface);
    display: inline-block;
    margin: 5px 5px 5px 5px;
    font-size: 13px;
}

.communityAboutSocials {
    width: 100%;
    height: fit-content;
    background-color: var(--surface);
    border-radius: 5px;
    padding-bottom: 20px;
    float: right;
    margin-bottom: 20px;
}

.communityAboutSocial {
    width: calc(100% - 40px);
    height: 40px;
    border-radius: 5px;
    display: block;
    font-size: 15px;
    font-weight: 500;
    margin: 10px 20px;
    color: white;
    padding: 5px 25px;
    cursor: pointer;
}

.communityAboutSocialIcon {
    display: inline-block;
    transform: translate(0px, 5px);
    margin-right: 15px;
}

.communityAboutSocialLink {
    color: white;
    font-size: 13px;
    font-weight: 400;
    margin-left: 20px;
}

.communityMediaItem {
    margin-top: 20px;
    position: relative;
    cursor: pointer;
}

.communityMediaImage {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: top;
}

.communityMediaVideo {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: top;
}

.communityMediaVideoOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    pointer-events: none;
}

.communityMediaVideoOverlay span {
    width: 70px;
    height: 70px;
    background-color: var(--surface);
    padding: 10px;
    border-radius: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.communityMember {
    width: 100%;
    height: 60px;
    background-color: var(--surface);
    border-radius: 5px;
    padding: 10px 25px;
    margin: 20px 0px 0px 0px;
    float: left;
}

.communityMemberProfile {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 100%;
    float: left;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.communityMemberName {
    display: block;
    color: var(--primary);
    font-size: 15px;
    font-weight: 500;
    margin: 0px 20px;
    float: left;
}

.communityMemberName span { font-size: 10px; font-weight: 200; text-transform: uppercase; }

.communityMemberOptions {
    width: 30px;
    height: 100%;
    float: right;
    position: relative;
    padding: 15px 5px;
}

.communityMemberOptions:hover .communityMemberOptionsDrop { display: block; }

.communityMemberOptionsDrop {
    display: none;
    width: 200px;
    height: fit-content;
    background-color: var(--surface);
    box-shadow: 0 0 34px 0 rgba(63,66,87,.1);
    border-radius: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: hidden;
    z-index: 1;
}

.communityMemberOption {
    display: block;
    font-size: 13px;
    color: var(--primary);
    cursor: pointer;
    padding: 7px 20px;
}

.communityMemberOption:hover {
    background-color: var(--primary);
    color: white;
}

.communitySettings {
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    background-color: var(--surface);
    overflow: hidden;
    margin-top: 20px;
}

.communitySettingsNav {
    width: 100%;
    height: fit-content;
    float: left;
    padding: 20px;
    border-bottom: 4px solid var(--base);
}

.communitySettingsNavButton {
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: var(--primary);
    margin-bottom: 20px;
    cursor: pointer;
}

.communitySettingsNavButton:hover { color: var(--accent); }

.communitySettingsBody {
    width: 100%;
    height: fit-content;
    min-height: 300px;
    float: right;
}

.communitysettingsBodyTitle {
    display: block;
    width: 100%;
    color: var(--primary);
    font-size: 15px;
    font-weight: 600;
    padding: 20px 20px;
    border-bottom: 1px solid var(--base);
}

.communitySettingsBodyContent {
    width: 100%;
    height: fit-content;
    padding: 20px 25px;
    overflow: hidden;
    padding-bottom: 50px;
}

.communitySettingsSwitchBar {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    overflow: hidden;
}

.communitySettingsSwitchBarText {
    color: var(--primary);
    font-size: 15px;
    font-weight: 600;
    display: block;
    float: left;
    margin: 0px 20px 0px 20px;
    transform: translate(0px, -5px);
}

.communitySettingsSwitchBarText span {
    color: var(--primary);
    font-size: 10px;
    font-weight: 200;
    display: block;
    float: left;
    margin: 3px 0px;
}

.communitySettingsFormButtons {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    padding-top: 50px;
}

.communitySettingsFormRevertHalf {
    width: calc(50% - 10px);
    height: 50px;
    background-color: var(--alt);
    border-radius: 5px;
    color: var(--surface);
    cursor: pointer;
    float: left;
    font-size: 15px;
    font-weight: 600;
}

.communitySettingsFormSubmitHalf {
    width: calc(50% - 10px);
    height: 50px;
    background-color: var(--accent);
    border-radius: 5px;
    color: var(--surface);
    cursor: pointer;
    float: right;
    font-size: 15px;
    font-weight: 600;
}

.communitySettingsFormSubmitFull {
    width: 100%;
    height: 50px;
    background-color: var(--accent);
    border-radius: 5px;
    color: var(--surface);
    cursor: pointer;
    float: right;
    font-size: 15px;
    font-weight: 600;
}

.communitySettingsNodeList {
    width: 100%;
    height: 70px;
    background-color: var(--base);
    border-radius: 5px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.communitySettingsSelectedNode {
    background-color: var(--primary);
    padding: 10px 40px 10px 10px;
    border-radius: 5px;
    color: var(--surface);
    display: inline-block;
    margin: 18px 5px 5px 5px;
    font-size: 13px;
    cursor: pointer;
    position: relative;
}

.communitySettingsSelectedNode span {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
}

.communitySettingsNodeSelector {
    width: 100%;
    height: fit-content;
    float: right;
    margin-bottom: 50px;
}

.communitySettingsNodeSelectorNodeBox {
    width: 100%;
    height: fit-content;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.communitySettingsSelectorNodes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.communitySettingsSelectorNode {
    background-color: var(--accent);
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--surface);
    display: block;
    float: left;
    margin: 5px;
    font-size: 15px;
    cursor: pointer;
}

.communitySettingsSelectorNode:hover { background-color: var(--primary); }

.communitySettingsAddNode {
    display: block;
    text-align: center;
    color: var(--primary);
    font-size: 15px;
    font-weight: 600;
    line-height: 50px;
    margin-top: 40px;
}

@media screen and (min-width: 1125px) {
    .communityTimelineData {
        width: calc(25% - 15px);
        margin: 0px 15px 0px 0px;
    }
    .communityTimelineFeed {
        width: calc(75% - 15px);
        margin: 0px 0px 0px 15px;
    }
    .communityAboutPersonal {
        width: 400px;
    }
    .communityAboutNodes {
        width: calc(100% - 420px);
    }
    .communityAboutSocials {
        width: calc(100% - 420px);
    }
    .communityMember {
        width: calc(50% - 20px);
        margin: 20px 25% 0px 10px;
    }
    .communitySettingsNav {
        width: 20%;
    }
    .communitySettingsBody {
        width: 80%;
        border-left: 4px solid var(--base);
    }
}