.messenger {
    width: 100%;
    height: calc(100% - 70px);
    background-color: var(--base);
    position: fixed;
    top: 0px;
    right: 0px;
    box-shadow: 0 0 34px 0 rgba(63,66,87,.1);
    overflow: hidden;
    overflow-y: auto;
    z-index: 30;
}

.messengerHead {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 20px 25px 0px 25px;
}

.messengerTitle {
    color: var(--primary);
    font-size: 25px;
    font-weight: 700;
    overflow: hidden;
    display: block;
    float: left;
}

.messengerTitleIcon {
    width: fit-content;
    height: fit-content;
    float: right;
    display: block;
    margin: 8px 0px 0px 10px;
    cursor: pointer;
}

.messengerSearch {
    width: calc(100% - 50px);
    height: 50px;
    background-color: var(--surface);
    border-radius: 5px;
    color: var(--primary);
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px 25px 10px 25px;
}

.messengerChatRecents {
    width: 100%;
    height: fit-content;
    padding: 10px 15px;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.messengerChatRecentsTitle {
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: var(--primary);
    margin: 0px 0px 20px 10px;
}

.messengerChatRecent {
    width: fit-content;
    min-width: 70px;
    height: fit-content;
    margin: 0px 0px;
    display: inline-block;
    cursor: pointer;
}

.messengerChatRecent div {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--primary);
    background-size: cover;
    background-position: center;
    margin: 0px calc(50% - 25px);
}

.messengerChatRecent span {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: var(--primary);
    text-align: center;
    margin-top: 5px;
}

.messengerDivider {
    width: calc(100% - 30px);
    margin: 20px 15px 30px 15px;
    border-bottom: 2px solid var(--alt);
    opacity: 0.1;
}

.messengerChatNotFound {
    display: block;
    text-align: center;
    color: var(--primary);
    font-size: 15px;
    font-weight: 400;
    margin: 50px 0px;
    font-style: italic;
}

.messengerChats {
    width: calc(100% - 40px);
    height: fit-content;
    margin: 20px;
}

.messengerChat {
    width: 100%;
    height: 70px;
    background-color: var(--surface);
    padding: 0px 25px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.messengerChatProfile {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background-color: var(--base);
    background-image: url(/images/bckg1.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    margin: 10px 0px;
    cursor: pointer;
}

.messengerChatData {
    width: calc(100% - 80px);
    height: 100%;
    float: left;
    padding: 4px 20px;
    cursor: pointer;
}

.messengerChatDataName {
    color: var(--primary);
    font-size: 15px;
    font-weight: 700;
    display: block;
    opacity: 0.9;
}

.messengerChatDataName .messengerChatDataTime {
    color: var(--primary);
    opacity: 0.7;
    font-size: 10px;
    font-weight: 200;
    font-style: italic;
    margin-top: 13px;
    display: inline-block;
}

.messengerChatDataName .messengerChatDataTime span { display: inline-block; width: 5px;  height: 5px; background-color: var(--primary); border-radius: 10px; margin: 0px 10px; transform: translate(0px, -3px); }

.messengerChatDataText {
    color: var(--primary);
    opacity: 0.7;
    font-size: 13px;
    font-weight: 400;
    display: block;
    margin-top: 5px;
}

.messengerChatDataTime {
    color: var(--primary);
    opacity: 0.7;
    font-size: 10px;
    font-weight: 200;
    display: block;
    font-style: italic;
    margin-top: 5px;
}

.messengerChatOptions {
    display: block;
    width: 30px;
    height: 100%;
    float: right;
    padding: 25px 5px 0px 0px;
    cursor: pointer;
    position: relative;
}

.messengerChatOptions:hover .messengerChatOptionBox { display: block; }

.messengerChatOptionBox {
    display: none;
    position: absolute;
    width: 200px;
    height: fit-content;
    background-color: var(--surface);
    border-radius: 5px;
    top: 0px;
    right: 0px;
    z-index: 2;
    box-shadow: 0 0 34px 0 rgba(63,66,87,.1);
    padding: 10px 0px;
}

.messengerChatOptionBox:hover { display: block; }

.messengerChatOption {
    color: var(--primary);
    font-size: 15px;
    font-weight: 500;
    display: block;
    padding: 7px 25px;
}

.messengerChatOption:hover { color: var(--accent); }

.messengerChatUnread {
    display: block;
    color: white;
    background-color: var(--accent);
    border-radius: 5px;
    font-size: 10px;
    font-weight: 400;
    padding: 3px 5px;
    margin: 0px 10px 0px 0px;
    width: fit-content;
    float: left;
}

.messengerOpenChat {
    width: 70px;
    height: 70px;
    background-color: var(--accent);
    border-radius: 70px;
    position: fixed;
    bottom: 70px;
    right: 50px;
}

.messengerFriends {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    background-color: var(--surface);
}

@media screen and (min-width: 1125px) {
    .messenger { width: 500px; top: 70px; right: 70px; }
}