.messengerChatList {
    width: 500px;
    height: calc(100% - 70px);
    background-color: var(--base);
    position: fixed;
    top: 70px;
    right: 70px;
    box-shadow: 0 0 34px 0 rgba(63,66,87,.1);
    overflow: hidden;
    overflow-y: auto;
}

.messengerChatListHead {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 20px 25px 0px 25px;
}

.messengerChatListTitle {
    color: var(--primary);
    font-size: 25px;
    font-weight: 700;
    overflow: hidden;
    display: block;
    float: left;
}

.messengerChatListTitleIcon {
    width: fit-content;
    height: fit-content;
    float: right;
    display: block;
    margin: 8px 0px 0px 10px;
}

.messengerChatListSearch {
    width: calc(100% - 50px);
    height: 50px;
    background-color: var(--surface);
    border-radius: 5px;
    color: var(--primary);
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px 25px 50px 25px;
}

.messengerChatListChat {
    width: 100%;
    height: 70px;
    background-color: var(--surface);
    padding: 0px 25px;
    margin-bottom: 10px;
}

.messengerChatListChatProfile {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background-color: var(--base);
    background-image: url(/images/bckg1.jpg);
    background-size: cover;
    background-position: center;
    float: left;
    margin: 10px 0px;
    cursor: pointer;
}

.messengerChatListChatData {
    width: calc(100% - 80px);
    height: 100%;
    float: left;
    padding: 15px 20px;
    cursor: pointer;
}

.messengerChatListChatDataName {
    color: var(--primary);
    font-size: 15px;
    font-weight: 700;
    display: block;
    opacity: 0.9;
}

.messengerChatListChatDataText {
    color: var(--primary);
    opacity: 0.7;
    font-size: 13px;
    font-weight: 200;
    display: block;
}

.messengerChatListChatOptions {
    display: block;
    width: 30px;
    height: 100%;
    float: right;
    padding: 25px 5px 0px 0px;
    cursor: pointer;
    position: relative;
}

.messengerChatListChatOptions:hover .messengerChatListChatOptionBox { display: block; }

.messengerChatListChatOptionBox {
    display: none;
    position: absolute;
    width: 200px;
    height: fit-content;
    background-color: var(--surface);
    border-radius: 5px;
    top: 0px;
    right: 0px;
    z-index: 2;
    box-shadow: 0 0 34px 0 rgba(63,66,87,.1);
    padding: 10px 0px;
}

.messengerChatListChatOptionBox:hover { display: block; }

.messengerChatListChatOption {
    color: var(--primary);
    font-size: 15px;
    font-weight: 500;
    display: block;
    padding: 7px 25px;
}

.messengerChatListChatOption:hover { color: var(--accent); }

.messengerChat {
    width: 500px;
    height: calc(100% - 70px);
    background-color: var(--primary);
    position: fixed;
    top: 70px;
    right: 70px;
    box-shadow: 0 0 34px 0 rgba(63,66,87,.1);
    overflow: hidden;
    overflow-y: auto;
}

.messengerChatHead {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.messengerChatClose {
    width: fit-content;
    height: fit-content;
    float: left;
    display: block;
    margin: 25px 0px 0px 25px;
}

.messengerChatUserData {
    display: block;
    width: 100%;
    height: fit-content;
    text-align: center;
    line-height: 20px;
    overflow: hidden;
    margin-top: 100px;
}

.messengerChatUserProfile {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: var(--base);
    background-image: url(/images/bckg1.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px 0px;
    cursor: pointer;
    display: inline-block;
}

.messengerChatUserName {
    color: var(--primary);
    font-size: 19px;
    font-weight: 700;
    display: block;
}

.messengerChatMessages {
    width: 100%;
    height: fit-content;
    padding: 0px 25px 50px 25px;
}

.messengerChatMessageBox {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    margin-bottom: 20px;
    /* background-color: blueviolet; */
}

.messengerChatMessageReply {
    width: 100%;
    height: fit-content;
    padding: 13px 13px 13px 13px;
    float: right;
    overflow: hidden;
    background-color: var(--accent);
}

.messengerChatMessage {
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
    overflow: hidden;
}

.messengerChatMessageData {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    background-color: var(--surface);
    border-radius: 15px 15px 15px 15px !important;
    padding-top: 9px;
}

.messengerChatMessageProfile {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: blueviolet;
    float: left;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.messengerChatMessageBody {
    width: fit-content;
    min-width: 100px;
    max-width: calc(100% - 60px);
    height: fit-content;
    float: left;
}

.messengerChatMessageBodyHead {
    display: block;
    width: 100%;
    padding: 5px 15px;
    color: var(--accent);
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}

.messengerChatMessageBodyHead span {
    color: var(--primary);
    font-size: 10px;
    float: right;
    font-weight: 200;
    transform: translate(0px, 2px);
    margin-left: 20px;
}

.messengerChatMessageBodyContent {
    width: 100%;
    height: fit-content;
    padding: 0px 15px 10px 15px;
}

.messengerChatMessageBodyContentReply {
    width: fit-content;
    min-width: 100%;
    height: 50px;
    background-color: rgba(63,66,87,.1);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 8px;
}

.messengerChatMessageBodyContentReplyMedia {
    width: 50px;
    height: 50px;
    float: left;
    background-size: cover;
    background-position: center;
}

.messengerChatMessageBodyContentReplyBody {
    width: fit-content;
    float: right;
    height: 100%;
}

.messengerChatMessageBodyContentReplyBody .messengerChatMessageBodyHead {
    color: dimgray;
}

.messengerChatMessageBodyContentReplyBodyContent {
    width: 100%;
    height: fit-content;
    padding: 0px 15px 10px 15px;
}

.messengerChatMessageReplyBodyContentText {
    display: block;
    width: 100%;
    color: var(--surface);
    font-size: 13px;
    white-space: pre-wrap;
}

.messengerChatMessageBodyContentMedia {
    min-width: 100%;
    margin-top: 3px;
}

.messengerChatMessageBodyContentMediaImage {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 3px;
}

.messengerChatMessageBodyContentText {
    display: block;
    width: 100%;
    color: var(--surface);
    font-size: 15px;
    white-space: pre-wrap;
}

.messengerChatMessageBody:hover .messengerChatMessageButtons { display: block; }

.messengerChatMessageButtons {
    display: none;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    background-color: var(--primary);
    border-radius: 0px 0px 5px 5px;
}

.messengerChatMessageButton {
    display: block;
    padding: 7px 15px 3px 15px;
    float: right;
    cursor: pointer;
}

.messengerChatMessageButton span {
    color: var(--surface);
    display: inline-block;
    transform: translate(0px, -6px);
    font-size: 12px;
    margin-right: 5px;
}